.teks {
    background: #eaeaea;
    width: 400px;
    margin: 50px auto 0px auto ;
    font-size: 25px;
    text-align: center;
    border-radius: 7px;
    padding: 7px;
    
    
}

.calculator {
    width: 400px;
    background: #eaeaea;
    margin: 15px auto 0px auto;
    padding: 7px ;
    border-radius: 7px;
}

#layar {
    width: 100% ;
    box-sizing: border-box;
    border: 1px solid #cecece;
    font-size: 25px ;
    font-weight: bold;
    color: grey;
    padding: 7px 5px;
    text-align: right;
}

.container-tombol {
    display: flex;
    flex-wrap: wrap;
}

.tombol {
    display: flex;
    width: 25%;
    font-size: 20px;
    color: gray;
    font-weight: bold;
    height: 70px;
    border: 1px solid #cecece;
    border-top: none;
    border-left: none;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    
    
}

.tombol:nth-child(4n+1) {
    border-left: 1px solid #cecece;
}

.tombol:hover {
    background: #ff8c00;
    cursor: pointer;
}
#nol {
    flex-grow: 1;
}

.operator {
    background: #d8d8d8;

}

#hitung {
    background: #ff8c00;  
    color: white;
}

#hitung:hover{
    background: orange;
}